@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body, html {
        background-image: linear-gradient(to top, var(--color-green), var(--color-purple));
    }
    
    section.login {
        width: 80vw;
    }
    

    .login #image {
        float: left;
        width: 30%;
        height: 100%;
        border-radius: 20px 0 0 20px;
    }


    .login__text .text h1 {
        margin-top: 50px;
    }
    
    .login__text .text p {
        text-align: center;
        padding: 10px 10px 0 200px;
        font-size: 18px;
    }


    .login__form .login-email {  
        float: right;
        width: 70%;
        margin-bottom: 10px;

    }
    
    .login__form #email {
        width: calc(100% - 42px);
        height: 39px;
    }


    .login__form .login-senha {
        float: right;
        width: 70%;
        margin-bottom: 10px;
    }
    
    .login__form #senha {
        width: calc(100% - 44.5px);
        height: 39px;
    }

    
    .login-entrar input[type=submit] {    
        float: right;
        width: 70%;
        height: 40px;
        font-size: 15px;
        margin-bottom: 10px;
    } 


    .login-esqueci-senha .login__esqueci {
        float: right;
        width: 70%;
        height: 40px;
        font-size: 15px;
    }


    .login__form {
        margin: 20px 0 0 10px;
    }
}