@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-1)
}

body {
    background-color: var(--color-purple);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

/* CONFIGURAÇÕES DO CONTAINER */
section.login {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: #fff;
    height: 515px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);

    transform: translate(-50%, -50%);
    transition: .3s;
    
}

/* CONFIGURAÇÕES DE IMAGEM, TÍTULO E TEXTO DO CONTAINER */
.login #image {
    background: var(--color-purple) url(../src/images/pexels-thiago-japyassu-9136264.jpg) left center no-repeat;
    background-size: cover;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
}

.login__text .text h1 {
    text-align: center;
    padding-top: 6px;
}

.login__text .text p {
    text-align: center;
    padding: 6px;
    font-size: 13px;
}

/* CONFIGURAÇÕES DE ALINHAMENTO DO FORMULÁRIO */
.login__form div{
    margin: auto;
    margin-bottom: 4px;
}

.login__form {
    padding: 10px;
}

form label {
    display: none;

}

/* CONFIGURAÇÕES DO FORMULÁRIO E-MAIL */
.login__form .login-email {
    display: block;
    background-color: var(--color-purple);

    width: 100%;
    height: 42px;
    border-radius: 8px;
    text-align: center;
}

.login__form .fa-user {
    font-size: 20px;
    color: #fff;
    padding: 10px;
}

.login__form #email {
    background-color: var(--color-light-green);
    width: calc(100% - 42px);
    height: 39px;
    border: 2px solid var(--color-purple);
    border-radius: 8px;
    padding-left: 10px;
    transform: translateY(-1.7px);
}

/* CONFIGURAÇÕES DO FORMULÁRIO SENHA */
.login__form .login-senha {
    display: block;
    background-color: var(--color-purple);

    width: 100%;
    height: 42px;
    border-radius: 8px;
    text-align: center;
}

.login__form .fa-key {
    font-size: 20px;
    color: #fff;
    padding: 10px;
}

.login__form #senha {
    background-color: var(--color-light-green);
    width: calc(100% - 44.5px);
    height: 39px;
    border: 2px solid var(--color-purple);
    border-radius: 8px;
    padding-left: 10px;
    transform: translateY(-1.7px);
}

/* CONFIGURAÇÕES DO DO BOTÃO ENTRAR */
.login-entrar input[type=submit] {
    display: block;
    background-color: var(--color-green);
    color: #fff;

    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 5px;

    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

/* CONFIGURAÇÕES DO BOTÃO ESQUECI A SENHA*/
.login-esqueci-senha .login__esqueci {
    display: block;
    background-color: #fff;
    color: var(--color-dark-green);

    border: 1px solid var(--color-green);
    border-radius: 7px;
    width: 100%;
    height: 40px;
    padding-top: 7px;

    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

/* CONFIGURAÇÕES DO BOTÃO CADASTRO*/
.login-cadastro .login__cadastro {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    margin-top: 3px;
}